<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title -->
  <title>{{ site.title }} — {{ page.title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    
  <!-- MathJax -->
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>

  <!-- Tippy.js -->
  <script defer src="https://unpkg.com/@popperjs/core@2"></script>
  <script defer src="https://unpkg.com/tippy.js@6"></script>

  <!-- Highlight.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.12.0/styles/default.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@catppuccin/highlightjs@1.0.1/css/catppuccin-latte.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.12.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>
<body>
    
  <!-- Header -->
  {% include header.html %}

<main>
  <!-- Content -->
  {{ content }}
</main>
    
  <!-- Footer -->
  {% include footer.html %}

  <!-- JavaScript -->
  <script src="script.js"></script>

  <!-- oneko.js -->
  <script src="oneko.js"></script>
</body>
</html>
